<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <h1>CaseBlaze</h1>
                <h3>Research precedent cases with blazing speed!</h3>
            </header>
            <div id="user-case">
                <label for="user-case-text">Please explain your case as detailed as possible:</label><br/>
                <textarea id="user-case-text"></textarea><br/>
                <input id="user-case-submit" type="submit" value="Research Similar Cases!">
            </div>
            <div id="similar-cases"></div>
        </div>
    </body>
</html>