<!DOCTYPE html>

<html>
    <head>
        <title>CazeBlaze</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <h1>CazeBlaze</h1>
                <h2>Blitzschnelle Präzedenzfallrecherche!</h2>
            </header>
            <div id="user-case">
                <h3>Bitte erläutern Sie Ihren Fall so detailliert wie möglich:</h3>
                <div id="user-case-input-wrapper">
                    <textarea id="user-case-text"></textarea><br/>
                    <input id="user-case-submit" type="submit" value="Recherchieren!">
                </div>
            </div>
            <div id="similar-cases"></div>
        </div>
    </body>
</html>